.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown[disabled] .dropdown-toggle {
  color: darkgray;
}

.dropdown-select {
  border: 1px solid #cccccc;
  border-radius: 2px;
  font-size: 12px;
  line-height: 18px;
  height: 18px;
  box-sizing: content-box;
  padding: 3px 5px;
  width: 110px;
}

.dropdown-select > .dropdown-toggle {
  width: 110px;
  display: inline-block;
  color: #0c020b;
}

.dropdown-menu {
  position: absolute;
  display: block;
  padding: 1px 0;
  min-width: 120px;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.1);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

.dropdown-select > .dropdown-menu {
  left: 0px;
  top: 24px;
  max-height: 100px;
  overflow-y: auto;
}

.dropdown-menu > li a {
  display: block;
  padding: 3px 10px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #666666;
  white-space: nowrap;
}

.dropdown-menu > li:hover a {
  text-decoration: none;
  color: #ffffff;
  background-color: #40adf1;
}

.dropdown-menu > li.active a {
  text-decoration: none;
  color: #ffffff;
  background-color: #40adf1;
}
