.dropdown {
  position: relative;
  display: inline-block;

  @at-root {
    .dropdown-select {
      border: 1px solid #cccccc;
      border-radius: 2px;
      font-size: 12px;
      line-height: 18px;
      height: 18px;
      box-sizing: content-box;
      padding: 3px 5px;
      width: 110px;
      & > .dropdown-toggle {
        width: 110px;
        display: inline-block;
        color: #0c020b;
      }
      & > .dropdown-menu {
        left: 0px;
        top: 24px;
        max-height: 100px;
        overflow-y: auto;

        & > li a {
          display: block;
          padding: 3px 10px;
          clear: both;
          font-weight: normal;
          line-height: 18px;
          color: #666666;
          white-space: nowrap;
        }
      }
    }
  }

  .dropdown-menu {
    position: absolute;
    display: block;
    padding: 1px 0;
    min-width: 120px;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 2px;
    box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.1);
    background-clip: padding-box;

    & > li:hover a, & > li.active a {
      text-decoration: none;
      color: #ffffff;
      background-color: #40adf1;
    }
  }
}

.dropdown[disabled] .dropdown-toggle {
  color: darkgray;
}
